.header1{
    background-color: #114b30;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    color: rgb(210, 203, 203);
}

*{
    margin-bottom: 0 !important;
}


.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  .profile-cart {
    display: flex;
  }

  .profile-cart button{
    background-color: transparent;
    color:#198754;
    border: none;
    font-size: 22px;
  }

  .profile-cart button:hover{
    background-color: transparent;
    color:#198754;
    border: none;
    font-size: 22px;
  }

  .userinfo{
    padding-right: 20px;
    color: #198754;
  }